<!DOCTYPE>
<html>

<head>
    <meta charset="utf-8">
    <title>COMPRA</title>
    <link rel="stylesheet" href="/css/estilos.css">
</head>

<body>
    <!-- inicio header barra de navegacion xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <header>
        <div class="contenedor">
            <div class="logoUno">
                <a href="/">
                    <img src="/imagenes/juegos/logoEA2.png" alt="">
                </a>
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="/juego">Fifa 18</a>
                    </li>
                    <li>
                        <a href="#">Actualizaciones</a>
                    </li>
                    <li>
                        <a href="#">Comunidad</a>
                    </li>
                    <li>
                        <a href="#">Competitivo</a>
                    </li>
                    <li>
                        <a href="#">Acerca de</a>
                    </li>
                    <li>
                        <a href="#">Sobre EA sports</a>
                    </li>
                </ul>
            </nav>
            <div class="boton">
                <a href="/checkout">
                    <button>Comprar Ahora</button>
                </a>
            </div>
            <div class="carrito">
                <img src="/imagenes/checkout/carrito.png" alt="">
                <h5>
                    <span class="carri">0</span>
                </h5>
            </div>
            <div class="logoDos">
                <img src="/imagenes/juegos/logoEA.png" alt="">
            </div>
        </div>
    </header>
    <!-- fin header xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <!-- inicio publicidad xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <div class="publicidad">
        <div class="contenidoPublicidad">
            <div class="infoPublicidad">
                <h2>Gracias</h2>
                <p>Gracias por estar interesado en adquirir nuestros juegos. El equipo de desarrollo de EA trabaja diariamente
                    en mejorar los juegos para garrantizar una mejor experiencia de usuario con ellos.</p>
            </div>
        </div>
        <div class="logoPublicidad">
            <img src="/imagenes/juegos/logoEAGrande.png" alt="">
        </div>
    </div>
    <!-- fin publicidad xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <!-- inicio compra xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <div class="compra">
        <!-- imagen de juego xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
        <div class="imagenDeJuego">
            <div class="imagenDeMadden">
                <div style="background-image: url(/{{jueguito.imagen}});
                            height: 349px;
                            width: 348px;">
                </div>
            </div>
            <div class="logoDeMadden">
                <div style="background-image: url(/{{jueguito.logo}});
                            height: 67px;
                            width: 283px;">
                </div>
            </div>
        </div>
        <!-- informacion de juego xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
        <div class="infoDeJuego">
            <div class="nombreDeJuego" data-id="{{this._id}}">
                <div>
                    <h2>${{jueguito.nombre}}</h2>
                </div>
            </div>
            <div class="fondoDeInfoJuegos">
                <div class="tamanoDeInfoJuegos">
                    <div class="caracteristicaDeJuego">
                        <div>
                            <p>{{jueguito.descripcion}}</p>
                        </div>
                    </div>
                    <div class="precioDeMadden">
                        <div>
                            <h3> Precio</h3>
                        </div>
                        <div>
                            <p>: ${{jueguito.precio}}</p>
                        </div>
                    </div>
                    <div class="fechaDeEstreno">
                        <div>
                            <h3> Fecha de estreno</h3>
                        </div>
                        <div>
                            <p>: {{jueguito.estreno}}</p>
                        </div>
                    </div>
                    <div class="peso">
                        <div>
                            <h3> Peso</h3>
                        </div>
                        <div>
                            <p>: {{jueguito.peso}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="botonComprarJuego">
            <a href="/checkout">
                <button class="agregar">Comprar Ahora</button>
            </a>
        </div>
    </div>
    <!-- inicio newsletter xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <div class="newsletter">
        <div class="informacionNewsletter">
            <div class="tituloInformacionNewsletter">
                <h2>mantente en contacto</h2>
            </div>
            <div class="parrafoNewsletter">
                <p>Mantente en contacto con nosotros para recibir noticias sobre FIFA 18 y otros juegos desarrollados por EA.
                    Es un placer tenerte con nosotros. De parte de todo el equipo de desarrollo de EA.</p>
            </div>
        </div>
        <div class="contactoNewsletter">
            <div class="informacionContactoNewsletter">
                <div class="escribirCorreoNewsletter">
                    <input type="text" name="direccion" class="input" placeholder="Escribir Correo"> </div>
                <div class="botonNewsletter">
                    <button class="peque">Registrarse</button>
                </div>
            </div>
        </div>
    </div>
    <!-- fin newsletter xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <!-- inicio footer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <div class="footer">
        <div class="infoUno">
            <div class="textoInfoUno">
                <h4>FIFA 18 </h4>
            </div>
            <div class="listaInfoUno">
                <ul>
                    <li>
                        <a href="#">Sobre FIFA 18</li>
                    </a>
                    <li>
                        <a href="#">Ultimate Team</a>
                    </li>
                    <li>
                        <a href="#">Novedades</a>
                    </li>
                    <li>
                        <a href="#">Actualizaciones por correo</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="infoDos">
            <div class="listaInfoDos">
                <ul>
                    <li>
                        <a href="#">Competitivo</a>
                    </li>
                    <li>
                        <a href="#">Comunidad</a>
                    </li>
                    <li>
                        <a href="#">FIFA para móviles</a>
                    </li>
                    <li>
                        <a href="#">Consigue FIFA</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="siguenos">
            <div class="textoSiguenos">
                <h4>Síguenos</h4>
            </div>
            <div class="listaSiguenos">
                <ul>
                    <li>
                        <a href="#">Facebook</a>
                    </li>
                    <li>
                        <a href="#">Twitter</a>
                    </li>
                    <li>
                        <a href="#">Newsletter</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="lugares">
            <div class="textoLugares">
                <h4>Lugares</h4>
            </div>
            <div class="listaLugares">
                <ul>
                    <li>
                        <a href="#">América</a>
                    </li>
                    <li>
                        <a href="#">Europa</a>
                    </li>
                    <li>
                        <a href="#">Asia</a>
                    </li>
                    <li>
                        <a href="#">Oceanía</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="logoFooter"></div>
    </div>
    <!-- fin footer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->
    <script src="/js/carrito.js"></script>
    <script src="/js/games.js"></script>
</body>